:root {
  --font-family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue",
    Arial, sans-serif;
  --content-max-width: 600px;

  --black: #000000;
  --white: #ffffff;
  --button-fg: var(--white);
  --button-bg: var(--black);
}

@media (prefers-color-scheme: light) {
}

@media (prefers-reduced-motion: reduce) {
}
