.sectionHeading {
  font-family: var(--font-family-heading);
  text-transform: uppercase;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: block;
  font-size: clamp(1.8rem, 3vw, 3rem);
  line-height: 1.2;
  max-width: 30ch;
  padding-bottom: 1rem;
  border-bottom: 0.25rem solid var(--red);
}

.articleList {
  --transition-time: 0.2s;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.articleList__card {
  border-radius: 0 0 1rem 1rem;
  border: 0.05rem solid var(--gray);
  text-decoration: none;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: var(--box-shadow-default);
}

.articleList__cardImageContainer {
  overflow: hidden;
  height: 20rem;
  display: grid;
  align-items: center;
}

.articleList__cardImageContainer img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
}

.articleList__card:hover img {
  filter: unset;
  transition: filter var(--transition-time) ease-in-out;
}

.articleList__cardInner {
  padding: 1rem;
  height: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.articleList__card:focus,
.articleList__card:hover {
  outline-width: 0;
  box-shadow: var(--red) 0 0 0 0.25rem;
  transition: box-shadow var(--transition-time) ease 0s;
}

.article__publishedDate {
  margin-bottom: 1rem;
  display: block;
  color: var(--black);
}

.article__title {
  color: var(--black);
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-heading);
  margin-bottom: 2rem;
}

.article__author {
  color: var(--black);
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-main);
}

.article__excerpt {
  color: var(--black);
  font-size: 1.2rem;
  line-height: 1.4;
  font-style: italic;
  font-family: var(--font-family-main);
  margin-bottom: 2rem;
}

.article__footer {
  color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

@media screen and (min-width: 1080px) {
  .articleList {
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .articleList__card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .articleList {
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
