.footer {
  background-color: var(--black);
}

.footer__copyright {
  color: var(--white);
  font-family: var(--font-family-main);
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem;
}
