.header__container {
  background-color: var(--black);
}

.header__inner {
  max-width: var(--wrapper-max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__logo {
  margin: 1rem auto 0 auto;
}

.nav__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__listItem {
  padding: 0.5rem;
}

.nav__listItemLink {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: 1.2rem;
  padding: 0.5rem;
  display: block;
}

.nav__listItemLink:hover {
}

.nav__listItemLink:focus {
  outline-width: 0;
  box-shadow: var(--red) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.nav__listItemLink__soon {
  color: var(--red);
}

.nav__rssIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 1rem;
}

.nav__showOnDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: var(--box-shadow-default);
  }

  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .header__logo {
    margin: 0;
    padding: 0.5rem;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__container {
    margin: unset;
  }

  .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav__showOnDesktop {
    display: inline;
  }
}
