.header__container {
  background-color: var(--white);
}

.header__inner {
  max-width: var(--wrapper-max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__title {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
}

.header__title:focus {
  outline-width: 0;
  box-shadow: var(--gray) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.nav__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.nav__listItem {
  padding: 0.5rem;
}

.nav__listItemLink {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: 1.2rem;
  padding: 0.5rem;
  display: block;
}

.nav__listItemLink:hover {
}

.nav__listItemLink:focus {
  outline-width: 0;
  box-shadow: var(--red) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.nav__listItemLink__soon {
  color: var(--red);
}

@media screen and (min-width: 768px) {
  .header__container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.125rem solid var(--black);
    box-shadow: var(--box-shadow-default);
  }

  .nav__list {
    flex-direction: row;
    margin: 0;
  }

  .nav__container {
    margin: unset;
  }
}
