.submitForm {
  max-width: var(--form-max-width);
  margin: 6rem auto;
}

.submitForm__row {
  display: flex;
  flex-direction: column;
}

.submitForm__select {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  border: 0.125rem solid var(--black);
  margin-bottom: 2rem;
}

.submitForm__input {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  border: 0.125rem solid var(--black);
}

.submitForm__input::placeholder {
  color: var(--gray-dark);
}

.submitForm__label {
  font-family: var(--font-family-main);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submitForm__label__required {
  color: var(--red);
  margin-left: 0.25rem;
}

.submitForm__button {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem solid var(--black);
  width: 100%;
  font-family: var(--font-family-main);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 1.4rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.submitForm__button:focus,
.submitForm__button:hover,
.submitForm__select:focus,
.submitForm__select:hover,
.submitForm__input:focus,
.submitForm__input:hover {
  outline-width: 0;
  box-shadow: var(--red) 0 0 0 0.25rem;
  transition: box-shadow var(--transition-time) ease 0s;
}

.submitForm__error {
  color: var(--black);
  border: 0.25rem solid var(--red);
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
